extends base

block content
    main.book__layout
        .sign-up
            .sign-up__container
                .sign-up__text--content
                    h1.heading-4.heading-4--w-600.mb-16 Set new password
                    p.text-16 Please enter your new password.
                form.form.reset__password__form
                    .form__group
                        label.form__label(for='Password' autocomplete="off" ) Password
                        input.form__input#password(type='password', placeholder='Password' required)
                    .form__group
                        label.form__label(for='password') Confirm Password
                        input.form__input#passwordConfirm(type='password', placeholder='Confirm Password' required)
                    .form__group.btn__group
                        button.btn.btn__primary.new__password.display-flex-center#submit Set new password
        .sign-up__img--box 
            img(src="/img/files bag.jpg", alt="file in a files bag").img         
