extends base

block content
    main.book__layout
        .sign-up
            .sign-up__container
                .sign-up__text--content
                    h1.heading-4.heading-4--w-600.mb-16 Set new password
                    p.text-16 Please enter your new password.
                form.form.reset__password__form
                    .form__group
                        label.form__label(for='Password' autocomplete="off" ) Password
                        input.form__input#password(type='password', placeholder='Password')
                    .form__group
                        label.form__label(for='password') Confirm Password
                        input.form__input#passwordConfirm(type='password', placeholder='Confirm Password')
                    .form__group.btn__group
                        button.btn.btn__primary.new__password
                            .icon
                            p Set new password
                        a(href="/").btn.btn__secondary
                            .icon
                            p Got to home page
        .sign-up__img--box 
            img(src="/icon/undraw_file_manager_re_ms.svg", alt="undraw file manager svg").img
