extends base

block content
    main.book__layout
        .sign-up
            .sign-up__container
                .sign-up__text--content
                    .display-flex-center-gap-2
                        h1.heading-4.heading-4--w-400.mb-16 Sign up
                    p.text-16 Please enter your detials.

                form.form.signup__form(action='#')
                    .form__group
                        label.form__label(for='name') Name
                        input.form__input#name(type='text', placeholder='Name' required)
                    .form__group
                        label.form__label(for='email') Email
                        input.form__input#email(type='text', placeholder='Email' required)
                    .form__group
                        label.form__label(for='password') Password
                        input.form__input#password(type='password', placeholder='Password' required)
                    .form__group
                        label.form__label(for='password')
                            | Confirm Password
                        input.form__input#confirm_password(type='password', placeholder='Confirm Password' required)
                    .form__group
                        button.btn.btn__primary.display-flex-center#submit
                            img(src='/icon/icon-sign-in.svg', alt='sign in icon').icon.mr-8
                            p Sign in
        .sign-up__img--box 
            img(src="/img/files bag.jpg", alt="file in a files bag").img     
