extends base

block content
    main.otp
        .otp__container
            header.otp__header
                i.bx.bxs-check-shield
            h4 Enter OTP Code
            p Your account has been verified
        