*,
*::after,
*::before {
  margin: 0rem;
  padding: 0;
  box-sizing: border-box;
}

// 1rem = 10px
// default font is size is 10px/16px
html {
  // 10px / 16px = 62.5%
  font-size: 62.5%;
  cursor: default;
}

body {
  height: 100vh;
  // background-color: red;
  // padding: 3rem
}
