@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

body {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  // line-height: 2.2rem;
  color: $text-black;
  box-sizing: border-box;
}

// Heading
.heading-1 {
  font-size: 11.3rem;
}
.heading-2 {
  font-size: 8rem;
}
.heading-3 {
  font-size: 5.7rem;
}
.heading-4 {
  font-size: 4rem;
  &--w-400 {
    font-weight: 400;
  }
  &--w-500 {
    font-weight: 500;
  }
  &--w-600 {
    font-weight: 600;
  }
}
.heading-5 {
  font-size: 2.8rem;
}
.heading-6 {
  font-size: 2rem;
}

.paragraph {
  font-size: 1.6rem;
  line-height: 2.2rem;
}
.paragraph-wp {
  font-size: 1.7rem;
  line-height: 2.5rem;
  // letter-spacing: 0.1rem;
}
.primary-bold.text {
  color: $color-primary;
  font-weight: bolder;
}
.text-18 {
  font-size: 1.8rem;
}
.text-16 {
  font-size: 1.6rem;
  font-weight: inherit;

  &__w-500 {
    font-weight: 600;
  }

  &-color-primary-75 {
    color: $color-primary-light-75;
  }
}
.text-14 {
  font-size: 1.4rem;
}

.text-color-primary-75 {
  color: $color-primary;
}

.text-center {
  text-align: center;
}
