// Primary
$color-primary: #7f56da;
$color-primary-light-75: #b59ee8;
$color-primary-light-50: #bda8eb;
$color-primary-light-25: #dcd2f3;
$color-primary-light-10: #efeaf8;
$color-primary-light-5: #f5f3f9;

// Text
$text-black: #130d21;
$text-black-75: #4e4a59;
$text-black-50: #898690;
$text-black-25: #c4c2c7;
$text-black-10: #d2d1d5;
$text-black-15: #f3f3f4;
