extends base

block content
    main.book__layout
        .sign-in
            .sign-in__container
                .sign-in__text--content
                    h1.heading-4.heading-4--w-600.mb-16 Set new password
                    p.text-16 Please enter your new password.
                form.form(action='#', method='post')
                    .form__group
                        label.form__label(for='Password') Password
                        input.form__input(type='password', placeholder='Password')
                    .form__group
                        label.form__label(for='password') Confirm Password
                        input.form__input(type='password', placeholder='Confirm Password')
                    .form__group.btn__group
                        button.btn.btn__primary
                            .icon
                            p Set new password
                        button.btn.btn__secondary
                            .icon
                            p Got to home page
        .sign-in__img--box adfadfafa