extends base 

block content 
    main.book__layout
        .message
            .message__container
                .message__content
                    p.message__title.heading-4.heading-4--w-600.mb-40
                        | Check your email
                    p.message__content.paragraph
                        | If an account exist for
                        span.message__email johndoe@example.com
                        | , you'll receive an email with a reset password link.
                    p.message__content.paragraph
                        | Check your inbox and follow the reset password link.
                .message__btn-box.mt-144
                    button.btn.btn__secondary.btn__secondary__secondary-w-icon
                        | Return to home
        .sign-in__img--box afalfafladf