@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");
*,
*::after,
*::before {
  margin: 0rem;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

body {
  height: 100vh; }

body {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  color: #130d21;
  box-sizing: border-box; }

.heading-1 {
  font-size: 11.3rem; }

.heading-2 {
  font-size: 8rem; }

.heading-3 {
  font-size: 5.7rem; }

.heading-4 {
  font-size: 4rem; }
  .heading-4--w-400 {
    font-weight: 400; }
  .heading-4--w-500 {
    font-weight: 500; }
  .heading-4--w-600 {
    font-weight: 600; }

.heading-5 {
  font-size: 2.8rem; }

.heading-6 {
  font-size: 2rem; }

.paragraph {
  font-size: 1.6rem;
  line-height: 2.2rem; }

.paragraph-wp {
  font-size: 1.7rem;
  line-height: 2.5rem; }

.primary-bold.text {
  color: #7f56da;
  font-weight: bolder; }

.text-18 {
  font-size: 1.8rem; }

.text-16 {
  font-size: 1.6rem;
  font-weight: inherit; }
  .text-16__w-500 {
    font-weight: 600; }
  .text-16-color-primary-75 {
    color: #b59ee8; }

.text-14 {
  font-size: 1.4rem; }

.text-color-primary-75 {
  color: #7f56da; }

.text-center {
  text-align: center; }

.align-left {
  text-align: right; }

.mb-16 {
  margin-bottom: 1.6rem; }

.mb-40 {
  margin-bottom: 4rem; }

.mt-144 {
  margin-top: 14.4rem; }

.w-130 {
  width: 13rem; }

.mr-8 {
  margin-right: 0.8rem; }

.mb2-4 {
  margin-bottom: 2.4rem; }

.mb-29 {
  margin-bottom: 2.9rem; }

a {
  text-decoration: none; }

.display-flex-center {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center; }

.display-flex-center-gap-2 {
  display: flex;
  align-items: center;
  gap: 2rem; }

.hidden {
  opacity: 0;
  visibility: hidden; }

.form {
  display: flex;
  flex-direction: column;
  gap: 2.4rem; }
  .form__email, .form__add-fill {
    width: 100%; }
  .form__add-file button,
  .form__email button {
    align-self: flex-end;
    width: max-content; }
  .form__label {
    font-size: 1.6rem;
    font-weight: inherit; }
  .form__group {
    display: flex;
    flex-direction: column;
    gap: 0.8rem; }
  .form__textarea, .form__input {
    padding: 1.2rem 1.6rem;
    border-radius: 0.5rem;
    font-size: 1.6rem;
    font-family: inherit;
    border: 0.1rem solid #bda8eb;
    color: #4e4a59;
    width: 100%;
    display: block; }
    .form__textarea:hover, .form__textarea:active, .form__textarea:focus, .form__input:hover, .form__input:active, .form__input:focus {
      border-color: #bda8eb !important; }
    .form__textarea::-webkit-input-placeholder, .form__input::-webkit-input-placeholder {
      color: #c4c2c7; }

.btn {
  width: 100%;
  padding: 1.2rem 2.5rem;
  color: white;
  font-family: inherit;
  font-size: 1.6rem;
  font-weight: inherit;
  border-radius: 0.5rem;
  text-align: center;
  outline: none;
  cursor: pointer;
  transition: all 300ms ease-in-out; }
  .btn:hover {
    box-shadow: 0 0.8rem 0.5rem -0.5rem rgba(0, 0, 0, 0.3); }
  .btn__primary {
    background-color: #7f56da;
    border: none; }
    .btn__primary-w-icon {
      padding: 0.8rem 1.6rem;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      gap: 0.8rem; }
    .btn__primary:hover {
      background-color: #8056daef; }
  .btn__primary-r, .btn__secondary-r {
    padding: 2rem;
    border-radius: 50rem; }
  .btn__secondary {
    color: #7f56da;
    background-color: transparent;
    border: 0.1rem solid #7f56da !important; }
    .btn__secondary__secondary-w-icon {
      padding: 0.8rem 1.6rem;
      min-width: 100%;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      gap: 0.8rem; }
    .btn__secondary:hover {
      border: 0.1rem solid #8056daef; }
  .btn__group {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 2.9rem; }

.vertical-line {
  width: 0.1rem;
  height: 100%;
  background-color: #898690;
  margin: 0 2.5rem; }

.sidebar {
  height: 100%;
  border-radius: 1rem;
  background-color: #f5f3f9; }

.side-nav {
  list-style: none;
  margin-top: 3.9rem; }
  .side-nav__icon {
    width: 2.4rem;
    height: 2.4rem; }
  .side-nav__item {
    position: relative; }
    .side-nav__item:not(:last-of-type) {
      margin-bottom: 2.4rem; }
  .side-nav__item--active::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0.6rem;
    background-color: #b59ee8; }
  .side-nav__link:link, .side-nav__link:visited, .side-nav__link {
    margin-left: 2.9rem;
    padding: 0.8rem;
    display: flex;
    gap: 1.6rem;
    font-family: inherit;
    align-items: center;
    text-decoration: none;
    color: #130d21; }
  .side-nav__item span {
    font-size: 1.8rem;
    font-weight: 500; }

.content {
  min-height: 100%;
  padding: 4.2rem 3.6rem 0 3.6rem;
  display: grid;
  grid-template-rows: repeat(4, max-content); }
  .content__result__container {
    margin-bottom: 2.4rem; }
  .content__title__container {
    margin-bottom: 2.4rem;
    display: flex;
    gap: 1.6rem; }
  .content__result__container {
    display: flex;
    align-items: center;
    justify-content: space-between; }

.search__form {
  margin-bottom: 2.4rem; }
  .search__form__input {
    padding: 1.2rem 0 1.2rem 1.6rem;
    border-radius: 0.5rem;
    border: 0.1rem solid #898690;
    font-size: 1.6rem;
    font-family: inherit;
    color: #4e4a59;
    display: block;
    width: 100%; }
    .search__form__input:hover, .search__form__input:active, .search__form__input:focus {
      border: 0.1rem solid #7f56da !important; }
    .search__form__input::-webkit-input-placeholder {
      color: #c4c2c7; }
  .search__form__group {
    width: 100%;
    display: flex;
    gap: 2.4rem; }
  .search__form__group button {
    width: max-content; }

.add-file-btn--container {
  width: 10rem; }

.table__container {
  border: 0.1rem solid #f5f3f9;
  border-radius: 1rem;
  overflow-y: auto; }

.admin__table,
.user__table {
  border-collapse: collapse;
  font-family: inherit;
  width: 100%; }
  .admin__table__row:not(:last-child),
  .user__table__row:not(:last-child) {
    border-bottom: 1px solid #d2d1d5; }
  .admin__table__row:hover,
  .user__table__row:hover {
    background-color: #f5f3f9; }
  .admin__table__head, .admin__table__data,
  .user__table__head,
  .user__table__data {
    text-align: left;
    font-weight: 500;
    font-size: 1.4rem;
    color: #898690; }
  .admin__table__head,
  .user__table__head {
    background-color: #f5f3f9;
    padding: 2rem 1.5rem; }
  .admin__table__data,
  .user__table__data {
    padding: 1.5rem;
    font-weight: 500;
    font-size: 1.6rem;
    color: #130d21; }

.user__table__row .user__table__data:last-child {
  text-align: center; }

.admin__table__row .admin__table__head:not(:first-child),
.admin__table__row .admin__table__data:not(:first-child) {
  text-align: center; }

.download-btn {
  padding: 0.1rem;
  border: none;
  outline: none;
  background-color: transparent; }

.download-btn img {
  display: flex; }

.alert {
  position: fixed;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  z-index: 9999;
  color: #fff;
  font-size: 1.8rem;
  font-weight: 400;
  text-align: center;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  padding: 1.6rem 15rem;
  -webkit-box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.25);
  box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.25); }
  .alert--success {
    background-color: #20bf6b; }
  .alert--error {
    background-color: #eb4d4b; }

.popup {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  z-index: 3000;
  background-color: rgba(0, 0, 0, 0.3);
  transition: all 0.3s; }
  @supports (-webkit-backdrop-filter: blur(10px)) or (backdrop-filter: blur(10px)) {
    .popup {
      -webkit-backdrop-filter: blur(10px);
      backdrop-filter: blur(10px);
      background-color: rgba(0, 0, 0, 0.3); } }
  .popup__content {
    padding: 3rem;
    border-radius: 2rem !important;
    position: absolute;
    background-color: #fff;
    width: 35%;
    border-radius: 3px;
    box-shadow: 0 3rem 4rem rgba(0, 0, 0, 0.2);
    display: table;
    overflow: hidden;
    transform: translate(-50%, -50%) scale(0.5);
    transition: all 0.4s 0.2s;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
  .popup__header {
    margin-bottom: 3.2rem;
    display: flex;
    align-items: center;
    justify-content: space-between; }

.otp {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center; }

:where(.otp__container, .form__otp, .input-field, .otp__header) {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }

.otp__container {
  background: #fff;
  padding: 3rem 6.5rem;
  border-radius: 1.2rem;
  row-gap: 2rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1); }
  .otp__container .otp__header {
    height: 6.5rem;
    width: 6.5rem;
    background: #7f56da;
    color: #fff;
    font-size: 2.5rem;
    border-radius: 50%; }
  .otp__container h4 {
    font-size: 1.25rem;
    color: #333;
    font-weight: 500; }

.input-field input {
  font-family: inherit;
  font-weight: inherit;
  height: 4.5rem;
  width: 4.2rem;
  border-radius: 0.6rem;
  outline: none;
  font-size: 1.125rem;
  text-align: center;
  border: 0.1rem solid #BDA8EB; }

.input-field input:focus {
  box-shadow: 0 0.1rem 0 rgba(0, 0, 0, 0.1); }

.input-field input::-webkit-inner-spin-button,
.input-field input::-webkit-outer-spin-button {
  display: none; }

.form__otp .input-field {
  flex-direction: row;
  column-gap: 1rem; }

.form__otp .btn__verify {
  font-family: inherit;
  font-weight: 400;
  font-size: 1.6rem;
  margin-top: 2.5rem;
  width: 100%;
  color: #fff;
  font-size: 1rem;
  border: none;
  padding: 1.2rem 0;
  cursor: pointer;
  border-radius: 0.5rem;
  pointer-events: none;
  transition: all 0.2s ease; }
  .form__otp .btn__verify .btn__verify:hover {
    background: #b59ee8; }

.form__otp .btn__verify.active {
  background: #7f56da;
  pointer-events: auto; }

.loader {
  pointer-events: none;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  border: 0.3rem solid transparent;
  border-top-color: #fff;
  animation: spin 1s ease infinite; }

@keyframes spin {
  0% {
    transform: rotate(0turn); }
  100% {
    transform: rotate(1turn); } }

.book__layout {
  display: grid;
  grid-template-columns: repeat(2, 50%);
  height: 100vh; }

.header {
  padding: 4.2rem 14.9rem 2.9rem 14.9rem;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between; }

.action-container {
  display: flex; }

.user__photo-box {
  width: 5.1rem;
  height: 5.1rem;
  border-radius: 50rem;
  border: 0.15rem solid #7f56da; }

.user__photo {
  width: 100%;
  object-fit: cover;
  border-radius: 50rem; }

.user__name {
  margin-left: 1.5rem;
  font-size: 1.6rem;
  font-weight: 500; }

.main {
  padding: 0 14.9rem;
  padding-bottom: 2.9rem;
  height: 90rem;
  display: grid;
  grid-template-columns: 32.6rem 1fr;
  gap: 2.8rem; }

.welcome {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }
  .welcome__header {
    margin: 4.2rem 0 7rem 0;
    padding: 0 14.9rem;
    height: max-content; }
  .welcome__container {
    display: flex;
    flex-direction: column;
    width: max-content;
    align-items: center;
    justify-content: center;
    gap: 7.7rem; }
  .welcome__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 52rem;
    gap: 2rem; }
  .welcome__signin-btn {
    display: flex;
    align-items: center;
    gap: 2rem; }
  .welcome__signin-btn:first-child, .welcome__signin-btn:last-child {
    width: 40rem; }

.link {
  text-decoration: none; }

.error_main {
  min-height: 100%; }

.error_main,
.error {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center; }

.logo__box {
  height: 6rem; }

.logo {
  height: 100%;
  object-fit: contain; }

.sign-up__layout {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  min-height: 100%; }

.sign-up {
  display: flex;
  align-items: center;
  justify-content: center; }
  .sign-up__text--content {
    margin-bottom: 4.8rem; }
  .sign-up__container {
    min-width: 40rem; }
  .sign-up__img--box {
    width: 100%;
    height: 100vh; }

.img {
  width: 100%;
  height: 100%;
  display: flex;
  object-fit: cover; }

.message {
  display: flex;
  align-items: center;
  justify-content: center; }
  .message__container {
    width: 39.9rem; }
  .message__content:last-child {
    margin-top: 2.4rem; }
  .message__email {
    font-weight: 700; }
  .message__btn-box {
    max-width: 18.2rem; }
