.form {
  width: 38rem;
  display: flex;
  flex-direction: column;
  gap: 2.4rem;

  &__email,
  &__add-fill {
    width: 100%;
  }
  &__email button {
    align-self: flex-end;
    width: 10rem;
  }

  &__label {
    font-size: 1.6rem;
    font-weight: inherit;
  }
  &__group {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
  }
  &__textarea,
  &__input {
    padding: 1.2rem 0 1.2rem 1.6rem;
    border-radius: 0.5rem;
    border: 0.1rem solid $text-black-50;
    font-size: 1.6rem;
    font-family: inherit;
    color: $text-black-75;
    width: 100%;
    display: block;
    // text-justify: center;
    &:hover,
    &:active,
    &:focus {
      border: 0.1rem solid $color-primary !important;
    }

    &::-webkit-input-placeholder {
      color: $text-black-25;
    }
  }
}
