.table {
  border-collapse: collapse;
  border: 0.1rem solid $color-primary-light-5;
  border-radius: 0.1rem;
  font-family: inherit;
  width: 100%;

  &__row:first-child {
    background-color: $color-primary-light-5;

    border-bottom: 1px solid $text-black-10;
  }
  &__row:not(:last-child) {
    border-bottom: 1px solid $text-black-10;
  }

  &__row:not(:first-child):hover {
    background-color: $color-primary-light-5;
  }

  &__row &__data:last-child {
    text-align: right;
  }

  // &__row &__data {

  // }

  &__head,
  &__data {
    border: none;
    text-align: left;
    font-weight: 500;
    font-size: 1.4rem;
    color: $text-black-50;
  }

  &__head {
    padding: 2.4rem 0 1.9rem 3.2rem;
    margin: 10rem;
  }
  &__data {
    padding: 2.4rem 3.2rem 2.4rem 3.2rem;
    font-weight: 500;
    font-size: 1.6rem;
    color: $text-black;
  }
}

.download-btn {
  padding: 0.1rem;
  border: none;
  outline: none;
  border-radius: 50rem;
  background-color: transparent;
}
