
.message {
  display: flex;
  align-items: center;
  justify-content: center;
  &__container {
    width: 39.9rem;
  }
  &__content:last-child {
    margin-top: 2.4rem;
  }
  &__email {
    font-weight: 700;
  }
  &__btn-box {
    max-width: 18.2rem;
  }
}
